.Layout {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 
		"menu main";

	gap: 1rem;
	grid-auto-flow: column dense;
	height: 100% ;
	width: 100%;
	
	margin: auto;

	.Main {
		padding: var(--space);
		grid-area: main;
		overflow: auto;
		display: flex;
		flex-direction: column;
	}

	.Content{
		flex: 1;
		padding: var(--space);

		h1{
			font-size: 2.5rem;
			margin-bottom: 1rem;
		}

		p{
			font-size: 1rem;
			line-height: 1.5;
			margin-bottom: calc( var(--space)*2 );
		}
	}

	.Footer{
		grid-area: footer;
		padding: var(--space);
	}
	
	@media (display-mode: window-controls-overlay){
		margin-top: env(titlebar-area-height, 33px);
		height: calc( 100% - env(titlebar-area-height, 33px ) ) ;
	}
}

.Bar{
	display: none;

	@media (display-mode: window-controls-overlay) { 
		position: fixed;
		background: rgb(var(--main-two-rgb));

		display: flex;
		align-items: center;
		padding: var(--space);

		left: env(titlebar-area-x, 0);
		top: env(titlebar-area-y, 0);

		width: env(titlebar-area-width, 100%);
		height: env(titlebar-area-height, 33px);

		color: rgb(var(--contrast-rgb));
	}
}

/* Cumprido */
@media not all and (max-height: 100vw) {
	/* Muito cumprido */
	@media screen and (max-width:500px) {
		.Layout {
			gap: 0;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr auto;
			grid-template-areas:
				"main"
				"menu";
		}
	}
}

/* Largo */
@media not all and (max-width: 100vh) {
	.Layout {
		grid-template-columns: auto 1fr;
		grid-template-areas: 
			"menu main";
	}

	/* Muito largo */
	@media screen and (min-width:800px) {
		.Layout {
			grid-template-areas: 
				"menu main";
		}
	}

	@media screen and (min-width: 1600px){
		.Layout {
			grid-template-columns: minmax( 240px, 4rem ) 1fr;
		}
	}
}